// Colors
$var-primary: #644a7f;
$var-secondary: #edf3b7;
$var-additional: #e5c890;
$var-white: #fff;
$var-dark: #333;
$var-red: #a00;

// Size in px for fonts
$var-small: 15px;
$var-normal: 18px;
$var-big: 20px;

$var-heading-small: 20px;
$var-heading-normal: 25px;
$var-heading-big: 30px;

// font weight and height line
$var-heading-weight-small: 300;
$var-heading-weight-big: 700;
$var-weight: 400;

$var-height-line-small: 120%;
$var-height-line-normal: 135%;
$var-height-line-big: 150%;

// Media queries
$media-sm: 425px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1440px;

// Padding & Margin
$var-space-small: 12px;
$var-space-normal: 40px;
$var-space-big: 100px;







